<section class="agenda-contato">
  <p *ngIf="!contatos">Sem contatos</p>

  <div class="contatos" *ngIf="contatos?.length > 0">
    <div
      class="contato"
      *ngFor="let contato of contatos"
      (click)="navegarDetalhes(contato)"
    >
      <p>Nome: {{ contato.nome }}</p>
      <p>
        Data de Nascimento: {{ contato.dataNascimento | date: "dd/MM/yyyy" }}
      </p>
      <div>
        Endereço:
        <p>{{ contato.endereco.rua }}</p>
        <p>{{ contato.endereco.numero }}</p>
        <p>{{ contato.endereco.complemento }}</p>
        <p>{{ contato.endereco.bairro }}</p>
        <p>{{ contato.endereco.cidade }}</p>
        <p>{{ contato.endereco.uf }}</p>
      </div>
      <div>
        Telefones:
        <div *ngFor="let telefone of contato.telefones">
          <p>
            {{ telefone.numero }} - {{ telefone.tipoTelefone }} -
            {{ telefone.ativo }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
