<section class="contato-detalhe">
  <a href="/">< Voltar</a>

  <p>{{ contato.nome }}</p>
  <p>{{ contato.dataNascimento | date: "dd/MM/yyyy" }}</p>

  <button (click)="iniciarChamada()">chamada</button>
</section>
